<h1>Log de Actividades</h1>

<div class="filter-form">
  <div class="filter-container">
    <div class="filter-group">
      <label for="baby-filter">Bebés</label>
      <input class="filter-input" id="baby-filter" list="baby-list" type="text" placeholder="Seleccione Bebe"/>
      <datalist id="baby-list">
        <option>Baby Name</option>
      </datalist>
    </div>
    <div class="filter-group">
      <label for="assistant-filter">Asistentes</label>
      <input class="filter-input" id="assistant-filter" list="assistant-list" type="text" placeholder="Seleccione Asistente" />
      <datalist id="assistant-list">
        <option>Baby Name</option>
      </datalist>
    </div>
    <div class="filter-group">
      <label for="status-filter">Estatus</label>
      <input class="filter-input" id="status-filter" list="status-list" type="text" placeholder="Seleccione Estatus" />
      <datalist id="status-list">
        <option>Baby Name</option>
      </datalist>
    </div>
  </div>
 <div class="button-container">
   <button class="filter-submit" type="submit">Filtrar</button>   
 </div>
</div>
<div class="activity-list">
  <table class="table">
  <thead class="table-head">
    <tr class = "table-header-row">
      <th class="table-header">Bebé</th>
      <th class="table-header">Asistente</th>
      <th class="table-header">Actividad</th>
      <th class="table-header">Inicio</th>
      <th class="table-header">Finalización</th>
      <th class="table-header">Status</th>
      <th class="table-header">Duración</th>
    </tr>
  </thead>
  <tbody class="table-body">
  <% @activity_logs.each do |log| %>
    <%= content_tag :tr, class: 'table-row' do %>
      <%= content_tag :td, log.baby.name, class: 'table-item' %>
      <%= content_tag :td, log.assistant.name, class: 'table-item' %>
      <%= content_tag :td, log.activity.name, class: 'table-item' %>
      <%= content_tag :td, format_time(log.start_time.localtime), class: 'table-item' %>
      <%= content_tag :td, format_time(log.stop_time.localtime), class: 'table-item' %>
      <%= content_tag :td, status_in_words(log.status), class: 'table-item' %>
      <%= content_tag :td, log.duration_in_min, class: 'table-item' %>
    <% end %>
  <% end %>
  </tbody>
 </table> 
</div>
